/**
 * digital.int-meetings
 * webinars sepa 2020
 */





/** MAIN COLORS
    Rojo:#ea5042
 */

 @font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}
@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}

@font-face {
    font-family: 'MaisonMono-Light';
    src: url('../fonts/MaisonMono-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
	font-display:swap;
}



 body,h1,h2,h3,h4,h5,h6{
    font-family: 'Gilroy-Light','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#000;
    font-size:1rem;
    font-weight:300;
}

img{
    max-width: 100%;
    height:auto;
}

/* Layout: header + body */
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#page-content{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.full-bg{
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
    background-image: url(/sessions/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* HEADER ======================================================== */
.header {
	height: 230px;
	border-bottom: 1px solid red;
	margin-left: 0px;
	margin-right: 0px;
}

@media (max-width: 576px) {
    #header img{
        max-width: 100%;
        height: auto;
    }
}


.btn-logout{
    font-size: 0.8em;
}

.phone{
	display:inline-block;
	font-size: 1em;
    padding-right: 0.4em;
	white-space:nowrap;
	margin:auto;
}
@media (max-width: 576px) {
	.phone{
		display:block;
		width: 100%;
		text-align: center;
		padding: 0.3em 0;
	}
}
img.svg-icon{
	width: 1.4em;
    margin-right: 0.2em;
    filter:invert(1);

}


/* BODY ======================================================== */


@media (max-width: 576px) {
    form button.btn{
        width: 100%;
    }
}




/* FOOTER ======================================================== */



/* Bootstrap Overrides =============================================== */

.navbar {
    background-color: transparent!important;
}

.navbar li {
    padding-right: 16px;
}

.btn-outline-primary {
    background-color: #ff0000!important;
    color:#ffffff!important;
    border-color: #ff0000;
    border-radius: 10px;
}

.btn-outline-primary:hover {
    background-color: #ffffff!important;
    color:#ff0000!important;
    border-color: #ff0000;
}

.btn-outline-secondary {
    background-color: transparent!important;
    color:#000000!important;
    border-color: #000000;
    border-radius: 0;
}

li.active .btn-outline-secondary {
    background-color: #ff0000!important;
    color:#9c9696!important;
    border-color: #ff0000;
}



#lang-selector .btn {
    font-weight: 700 !important;
    border-radius: 0;
}
.btn-outline-dark {
    padding: .3rem .6rem !important;
}

#lang-selector a.active {
    color: #fff;
    border-color: #ff0000;
    background-color: #ff0000;
    pointer-events: none;
}

#lang-selector .btn-outline-dark:not(:disabled):not(.disabled).active,
#lang-selector .btn-outline-dark:not(:disabled):not(.disabled):active,
#lang-selector .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

#lang-selector .btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn span {
    vertical-align: middle;
}

.cerrar-sesion a.btn, .cerrar-sesion a.btn:hover {
    font-size: 0.8em;
}

.bg-hall .card {
    height: 100%;
}

.card, .card-header, .card-header:first-child, .alert, .bg-hall .form-control {
    border-radius: 0;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-rounded-primary {
    color: white;
    border-color: red;
    background: red;
    border: 2px solid red;
    border-radius: 2em;
}

.bg-hall .card .card-title {
    font-family: 'Gilroy-Bold';
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 800;
}

.bg-hall .card .card-text {
    margin-bottom: 0.25rem;
}

.bg-hall .card .card-text.title-sesion {
    color: red;
    font-size: 1.1em;
}

.bg-hall .card .card-text {
    margin-bottom: 0.25rem;
}

.bg-hall .card .card-text.title-sesion {
    color: red;
    font-size: 1.1em;
}

.bg-hall .card .subtitle {
    font-family: 'Gilroy-Heavy';
    color: red;
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

.btn-rounded-primary span.circle {
    border-radius: 50%;
    background: white;
    color: red;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    font-size: 1.2em;
    margin-left: 0.6em;
    vertical-align: baseline;
}

.btn-rounded-primary:hover span.circle {
    background: red;
    color: white;
}

.btn-play {
    position: absolute;
    bottom: 20px;
}

.bg-hall  .btn:hover {
    color: #ff0000;
    text-decoration: none;
    background: #fff;
}

.card-body img {
    width: 90px;
    margin-right: 12px;
}

