#header {
    padding: 0;
}

.img-dop {
    position: absolute;
    width: 120px;
    height: auto;
    right: 0;
    top: -50px;
}


table {
    border-spacing: 2px 10px;
    border-collapse: separate;
}

td {
    background-color: #eee;

}

td.hour {
    min-width: 120px;
    text-align: center;
}

td.description {
    padding: 20px;
}

#myCookieConsent {
    background-color: #c00000!important;
}

.main-title {
    width: 100%!important;
}
.main-title p {
    color: #c00000!important;
    width:100%!important;
    text-align: center!important;
}

a,
a:visited {
    color: #000;
}

a:hover {
    color: #c00000;
}

h1 {
    line-height: 1em!important;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

.main-banner .container .banner-text {
    top: 30%;
}

.main-banner .container .banner-text h1, .main-banner .container .banner-text h2 {
    text-shadow: none;
    font-size: 2rem;
}

.main-banner .container .banner-text h1, .main-banner .container .banner-text h3 {
    font-size: 1.5rem;
    color: #ffffff;
}
