/**
 * digital.int-meetings
 * webinars sepa 2020
 */





/** COLORS
    negro:#000000
    verde:#2EFF59

 */


@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}
@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}

@font-face {
    font-family: 'MaisonMono-Light';
    src: url('../fonts/MaisonMono-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
	font-display:swap;
}
/*
@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}
*/



 body,h1,h2,h3,h4,h5,h6{
    font-family: 'Gilroy-Light','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#000;
}


img{
	max-width:100%;
	height:auto;
}

/* Layout: header + body */
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#page-content{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.bg-hall{
	background:url(../img/imgfons2-sepaonair.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	background-size:cover;
}


span strong{
	font-family:'Gilroy-Bold';
}


/* HEADER ======================================================== */
#header{
    padding:1.4em 0;
}

@media (max-width: 576px) {
    #header img{
        max-width: 100%;
        height: auto;
    }

    .pt-mobile{
        padding-top: 1.5rem!important;
    }

}
@media (max-width: 768px) {
    .logo{
        margin-right: 20px;
        margin-left: 20px;
    }
}


#header h3{
    font-size:2em;
    margin:0 0 0.2em 0;
    line-height:1.2em;
    color:#000;
}
#header h3 span{
    padding:0 0.3em;
    background-color:#2EFF59;
}

@media (max-width: 375px) {
	#header h3 {
		font-size: 1.6em;
	}
}



#lang-selector a.active{
	color:#fff;
	border-color:#ff0000;
	background-color:#ff0000;
	pointer-events:none;
}
#lang-selector a:focus{
	box-shadow:none;
}



/* BODY ======================================================== */

h1{
    font-family: 'Gilroy-Light', Arial, sans-serif;
    margin:0;
    line-height:0.65em;
}

.logoZoom {
    max-width: 150px;
}

@media (max-width: 576px) {
    button.btn{
        width: 100%;
    }
}

.embed-responsive{
	border: 1px solid #dedede;
}




/* FOOTER ======================================================== */
#footer{
    padding:60px 0 0 0;
}

#footer h5{
    font-size:1em;
    margin:0 0 0.2em 0;
    line-height:1.2em;
    color:#000;
}
#footer h5 span{
    padding:0 0.3em;
    background-color:#2EFF59;
}


#footer h5 a{
	text-decoration:none;
	color:#000;
}
#footer h5 a:hover span{
	background-color:#000!important;
	color: #f8f9fa!important;
}

/* Bootstrap Overrides =============================================== */

.bg-primary {
    background-color: black!important;
    color:white;
}

.btn-dark {
    color: #fff!important;
    background-color:#000;
    border-color:#000;
}
.btn-secondary:hover{
    background-color: #212121;
    border-color:  #212121;
}

.text-primary{
    color: #2EFF59!important;
}

.bg-danger{
    background-color: #dc3545!important;
    color: #f8f9fa!important;
}

.alert-danger{
	background-color: #dc3545!important;
    color: #f8f9fa!important;
	border-color: #dc3545!important;
	line-height: 1em;
    padding: 0.65rem;
}

.alert-danger .close:focus,
.alert-danger .close:hover {
    color: #f8f9fa!important;
}
.alert-dismissible .close {
    padding: .4rem 1.25rem;
}
/* remove rounding from cards, buttons and inputs */
.card, .card-header, .card-header:first-child, .alert, .btn, .form-control { border-radius: 0; }


/* highlight focus */
.form-control:focus {
	border-color: #9d9d9d;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(28, 29, 28, 0.51);
}




/* iFrame traducción simultánea ================================================= */
#iFrameTransContainer{
	position:relative;
	/*height:150px;
	max-height:150px;*/
	overflow:hidden;
	border-bottom: 1px solid #ced4da;
}
#iFrameTrans{
	position:relative;
	top:-90px;
	height:200px;
	max-height:200px;
}
@media (max-width: 991px) {

	#iFrameTransContainer{
		/*height:250px;
		max-height:250px;*/
	}
	#iFrameTrans{
		top: -60px;
		height: 300px;
		max-height:300px;
	}

}


/* Formulario pregunta ========================================================== */
.contactForm span.error{
	font-size:0.8em;
	color: #dc3545!important;
}
.sendLoader{display: none;}
.msg{
	margin-left:5px;
	margin-right:5px;
}

.btn-outline-dark{
	padding: .3rem .6rem!important;
}




/* SEPA 2020 =============================================================== */
/* ========================================================================= */


/* Tintes */
.toPlatino, .toPlatino img {
    -webkit-filter: invert(74%) sepia(8%) saturate(670%) hue-rotate(160deg) brightness(86%) contrast(86%);
    filter: invert(74%) sepia(8%) saturate(670%) hue-rotate(160deg) brightness(86%) contrast(86%);
}

.toGold, .toGold img {
    -webkit-filter: invert(54%) sepia(57%) saturate(292%) hue-rotate(3deg) brightness(91%) contrast(84%);
    filter: invert(54%) sepia(57%) saturate(292%) hue-rotate(3deg) brightness(91%) contrast(84%);
}

.toBlack, .toBlack img {
    -webkit-filter: brightness(0);
    filter: brightness(0);
}


.phone{
	display:inline-block;
	font-size: 0.96em;
    padding-right: 0.4em;
	white-space:nowrap;
	margin:auto;
}
img.svg-icon{
	width: 1.4em;
    margin-right: 0.2em;
}

@media (max-width: 576px) {
	.phone{
		display:block;
		width: 100%;
		text-align: center;
		padding: 0.3em 0;
	}
}

a.whatsapp_link,
a.whatsapp_link:hover{
	color: #29b06f;
    font-weight: 600;
}
a.whatsapp_link .svg-icon{
	fill:#29b06f;
}




.cerrar-sesion a.btn,
.cerrar-sesion a.btn:hover{
	font-size:0.8em;
	padding:0;
	border:0;
	background:none;
}

.cerrar-sesion a.btn span:nth-of-type(0){
	font-size: 2em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}



.banners {
	text-align:left;
}

.banners img{
	margin-bottom:5px;
	max-width:100%;
}
@media (min-width:576px) and (max-width: 991px) {
	.banners img{
		width:49.5%;
		display:inline-block;
		float:left;
	}
}
@media (max-width:575px){
	.banners {
		text-align:center;
	}
	.banners img{
		margin-left:auto;
		margin-right:auto;
	}
}
.clear{
	clear:both;
	height:1px;
}


/* Info tecnica ===================================================================================== */
#info-tecnica{
	font-size: 16px;
    font-weight: 400;
    background: aliceblue;
    padding: 1em;
    color: #212121
}
#info-tecnica p{
	margin-bottom:0.4em;
}
#info-tecnica ul{
	padding-left:20px;
}
#info-tecnica ul li{
	padding-bottom: 0.2em;
}


/* Footer sponsors sepa2020.es ========================================================================= */
footer {
	position: relative;
	z-index: 9;
	background: #fff
}


footer section.topFooter {
	background-color: #8b8c8d;
	height: 30px;
	padding: 8px 0 0 0;
	font-weight: 500
}

footer section.topFooter p {
	color: #fff;
	font-size: 12px;
	font-weight: 600
}

footer section.logosPlatino {
	padding: 20px 0
}

footer section.logosPlatino img {
	width: 100%;
	max-width: 80px
}

footer section.logosPlatino p {
	color: #8fa3b0;
	font-family: "Gilroy-Light", sans-serif
}

footer section.logosPlatino span.sepFooter {
	background: #8fa3b0;
	width: 100%;
	height: 2px;
	display: block
}

footer section.logosOro {
	padding: 20px 0
}

footer section.logosOro img {
	width: 100%;
	max-width: 80px
}

footer section.logosOro p {
	color: #a18a59;
	font-family: "Gilroy-Light", sans-serif
}

footer section.logosOro span.sepFooter {
	background: #a18a59;
	width: 100%;
	height: 2px;
	display: block
}

footer section.logosPartners {
	padding: 20px 0
}

footer section.logosPartners img {
	width: 100%;
	max-width: 80px
}

footer section.logosPartners p {
	color: #8b8c8d;
	font-family: "Gilroy-Light", sans-serif
}

footer section.logosPartners span.sepFooter {
	background: #8b8c8d;
	width: 100%;
	height: 2px;
	display: block
}

footer section.logoFooter {
	padding: 20px 0
}

footer section.logoFooter .col-4 {
	text-align: center
}

footer section.logoFooter .col-4 img {
	max-width: 120px
}

@media (max-width: 400px) {
	footer section.logoFooter .col-4 {
		flex: 0 0 33.3%;
		max-width: 33.3%
	}
}

footer section.logoFooter span.sepFooter {
	background: #f4f4f4;
	width: 100%;
	height: 1px;
	display: block;
	margin-bottom: 14px
}


/*fix logo footer Invisalign */

.col-invisalign{
	padding-left:0;
	padding-right:0;
	text-align:center;
}
.col-invisalign img{
	max-width:120px!important;
	margin-top: -5px;
}
@media (min-width: 768px) and (max-width:991px) {
	.col-invisalign img{
		margin-top: 0;
	}
}



/* Hall -------------------------------------------------------- */

.bg-hall footer{
	background: rgba(255,255,255,0.85);
}
.bg-hall .card{
	height: 100%;
}


.bg-hall .card .card-title{
	font-family:'Gilroy-Bold';
	margin-bottom:0.25rem;
}
.bg-hall .card .subtitle{
	font-family:'Gilroy-Heavy';
	color:red;
	font-size:1.4rem;
	margin-bottom:0.25rem;
}
.bg-hall .card .card-text{
	margin-bottom:0.25rem;
}
.bg-hall .card .card-text.title-sesion{
	color:red;
	font-size:1.1em;
}
.bg-hall .card .logo{
	width:auto;
	height:auto;
	max-width:100px;
}
.bg-hall .card .card-footer{
	
}

.btn{
	font-weight: 700!important;
}
.btn span{
	vertical-align: middle;
}

.btn svg{
	font-size: 1em;
    vertical-align: middle;
}

.btn-rounded-primary{
	color:white;
	border-color:red;
	background:red;
	border:2px solid red;
	border-radius: 2em;
}
.btn-rounded-primary:hover{
	color:red;
	border-color:red;
	background:white;
}

.btn-rounded-primary span.circle{
	border-radius: 50%;
    background: white;
    color: red;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    font-size: 1.2em;
    margin-left: 0.6em;
    vertical-align: baseline;
}
.btn-rounded-primary:hover  span.circle{
	background:red;
	color:white;
}

.btn-rounded-secondary{
	color:white;
	background:#9E9E9E;
	border:2px solid #9E9E9E;
	border-radius: 2em;
}
.btn-rounded-secondary:hover{
	background:red;
	color:white;
	border-color:red;
}

.btn-hall svg{
	transform:rotate(60deg)
}

.btn-rounded-primary.disabled{
    border-color: #a5a5a5;
    background: #a5a5a5;
    border: 2px solid #a5a5a5;
}

.btn-rounded-primary.disabled span.circle{
	color:#a5a5a5
}



.btn-rounded-outline-blue{
	color:#007bff;
	border-color:#007bff;
	background:white;
	border:2px solid #007bff;
	border-radius: 2em;
}
.btn-rounded-outline-blue:hover{
	color:white;
	border-color:#007bff;
	background:#007bff;
}


/* visita nuestro stand */
.logo-stand{
	max-width:200px;
}
.visita-nuestro-stand{
	display: inline-block;
    width: 250px;
	border: 1px solid lightsteelblue;
}
.visita-nuestro-stand img{
	max-width:250px;
}
.visita-nuestro-stand:hover{
	background-color: lightblue;
}



/* loading dots */

.loadingdots:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}
